*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
}

[class*="__container"] {
	max-width: 1369px;
	padding: 0px 15px;
	margin: 0 auto;
}

@media (max-width: 1599.98px) {
	[class*="__container"] {
		padding: 0px 15px;
		max-width: 970px;
	}
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
		padding: 0px 15px;
	}
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}



/* ***************************** HEADER SECTION ***************************** */

.header {
	position: static;
	z-index: 1;
}



.header__container {
	padding: 20px 0px;
	display: flex;
	gap: 258px;
	align-items: center;
	margin-bottom: 77px;
}

@media (max-width: 1599.98px) {
	.header__container {
		padding: 20px 20px;
		gap: 50px;
		justify-content: center;
	}
}

.header__logo {}

.header__menu {}

.menu {}

.menu__list {
	display: flex;
	flex-direction: row;
	gap: 77px;
	align-items: center;
}

@media (max-width: 1599.98px) {
	.menu__list {
		gap: 40px;
	}
}

.menu__item {
	color: #FFF;
	font-family: Signika;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.menu__item a {}

.contacts {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.contacts__numbers {
	color: #fff;
}

.header__call {
	color: #fff;
	padding: 16px 24px;
	border-radius: 4px;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
}

/* ***************************** MAIN-BLOCK SECTION ***************************** */

.page {}

.page_main {}

.main-block {}

.bg-main-block {
	position: relative;
	height: 100%;
	width: 100%;
}

.bg-main-block__image {
	width: 100%;
	position: absolute;
	margin-top: -193px;
	margin-left: 0;
	z-index: 0;
}

.bg-main-block__hidden-bg {
	display: none;
	width: 100%;
	position: absolute;
	margin-top: -193px;
	margin-left: 0;
	z-index: 0;
}

.main-block__container {}

.main-block__body {}

.body_main-block {
	position: relative;

}

.logo-components {
	height: 555px;

	position: relative;
}

.logo__component-label {
	position: absolute;
	max-width: 623px;
	margin-left: 362px;
	z-index: 1;
}

.logo__component-car {
	position: absolute;
	top: 190px;
	left: 600px;
	z-index: 2;
}

.logo__component-ellipse {
	position: absolute;
	top: 360px;
	left: 592px;
	z-index: 0;
}

.content-main-block {
	margin-top: -300px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.content-main-block__description {
	max-width: 366px;
	color: #fff;
	font-family: Signika;
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
}

.content-main-block__description p {
	display: inline-block;
	color: #fff;
	font-family: Signika;
	font-size: 49px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	/* 68.6px */
}

.content-main-block__key-points {}

.key-points__list {}

.key-point {
	color: #fff;
	font-family: Signika;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.key-point img {
	padding: 7px 13px 7px 0;
}

.content-main-block__button {
	width: 235px;
	height: 52px;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 11px 13px 28px 0px rgba(0, 0, 0, 0.30);
	padding: 16px 24px;
	color: #1B1821;
	font-family: Signika;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 200px;
	cursor: pointer;
}

@media (max-width: 1599.98px) {

	.logo__component-label {
		max-width: 623px;
		margin-left: 262px;
		top: -80px;
		z-index: 1;
		width: 60%;
	}

	.logo__component-car {
		position: absolute;
		top: 100px;
		left: 500px;
		z-index: 2;
		width: 60%;
	}

	.logo__component-ellipse {
		position: absolute;
		top: 240px;
		left: 492px;
		z-index: 0;
		width: 60%;
	}

	.content-main-block {
		margin-top: -500px;
	}

	.content-main-block__button {
		margin-bottom: 100px;
	}

	.bg-main-block__hidden-bg {
		display: block;
	}

}

/* ***************************** MAIN-BLOCK SECTION ***************************** */

.popular {}

.popular__container {
	display: flex;
	flex-direction: column;
	row-gap: 48px;
	justify-content: center;
	align-items: center;
}

.popular__title {
	color: #1B1821;
	font-family: Roboto;
	text-transform: uppercase;
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.popular__cars {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.car_1 {
	z-index: -1;
	filter: blur(2.5px);
	margin-right: -175px;
	width: 342.688px;
	height: 220px;
}

.car1__bg {
	width: 342.688px;
	height: 220px;
}

.bg-car1-white {
	width: 342.688px;
	height: 220px;
}

.bg-car1-gray {
	width: 342.688px;
	height: 109px;
	margin-top: -117px;
}

.car1__content {}

.car1__photo {
	width: 306.221px;
	height: 146.108px;
	margin-top: -193px;
	margin-left: 18px;
}

.car1__info {
	margin-top: -120px;
	margin-left: 18.81px;
}

.car1__brand {
	margin-bottom: 2.6px;
	color: #FFF;
	font-family: Signika;
	font-size: 15.712px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.car1__price {
	margin-bottom: 2.6px;
	color: #FFF;
	font-family: Signika;
	font-size: 13.094px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.car1__description {}

.description-car1 {
	max-width: 254.014px;
	color: #FFF;
	font-family: Signika;
	font-size: 9.165px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.description-car1__full-price {
	margin-bottom: 12px;
	color: #FFF;
	font-family: Signika;
	font-size: 7.856px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-decoration-line: underline;
}

.car_2 {
	filter: blur(1.5px);
	margin-right: -160px;
	z-index: -1;
	width: 432.439px;
}

.car2__bg {
	width: 432.439px;
	height: 284px;
}

.bg-car2-white {
	width: 432.439px;
	height: 284px;
}

.bg-car2-gray {
	width: 432.439px;
	height: 140px;
	margin-top: -148px;
}

.car2__content {}

.car2__photo {
	width: 307.519px;
	height: 148.883px;
	margin-top: -246px;
	margin-left: 63px;
}

.car2__info {
	margin-top: -150px;
	margin-left: 18.81px;
}

.car2__brand {
	margin-bottom: 3.5px;
	color: #FFF;
	font-family: Signika;
	font-size: 21.41px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.car2__price {
	margin-bottom: 3.5px;
	color: #FFF;
	font-family: Signika;
	font-size: 17.842px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.car2__description {}

.description-car2 {
	width: 346px;
	color: #FFF;
	font-family: Signika;
	font-size: 10px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.description-car2__full-price {
	margin-bottom: 16px;
	color: #FFF;
	font-family: Signika;
	font-size: 10.705px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-decoration-line: underline;
}

.car_3 {
	width: 510px;
}

.car__selected {}

.selected-car {}

.selected-car__bg {
	width: 510px;
	height: 348px;
}

.bg-selected-car-white {
	border-radius: 4px;
	width: 509.369px;
	height: 348px;
}

.bg-selected-car-gray {
	width: 509.369px;
	height: 155px;
	margin-top: -163px;
}

.selected-car__content {}

.selected-car__photo {
	width: 470px;
	height: 209px;
	margin-top: -330px;
	margin-left: 20px;
}

.selected-car__info {
	margin-left: 18.5px;
	margin-top: -175px;
}

.selected-car__brand {
	margin-bottom: 4px;
	color: #FFF;
	font-family: Signika;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.selected-car__price {
	margin-bottom: 4px;
	color: #FFF;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.selected-car__description {
	width: 388px;
	color: #FFF;
	font-family: Signika;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.description-selected-car {}

.description-selected-car__full-price {
	color: #FFF;
	font-family: Signika;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-decoration-line: underline;
	margin-bottom: 15px;
}

.car_4 {
	filter: blur(1.5px);
	z-index: -1;
	margin-left: -160px;
	width: 432.439px;
}

.car4__bg {
	width: 432.439px;
	height: 284px;
}

.bg-car4-white {
	width: 432.439px;
	height: 284px;
}

.bg-car4-gray {
	width: 432.439px;
	height: 140px;
	margin-top: -148px;
}

.car4__content {}

.car4__photo {
	width: 386.264px;
	height: 189.179px;
	margin-top: -246px;
	margin-left: 22px;
}

.car4__info {
	margin-top: -133px;
	margin-left: 18.81px;
}

.car4__brand {
	color: #FFF;
	font-family: Signika;
	font-size: 21.41px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.car4__price {
	color: #FFF;
	font-family: Signika;
	font-size: 17.842px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.car4__description {}

.description-car4 {
	width: 346px;
	color: #FFF;
	font-family: Signika;
	font-size: 10px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.description-car4__full-price {
	color: #FFF;
	font-family: Signika;
	font-size: 10.705px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-decoration-line: underline;
}

.car_5 {
	filter: blur(2.5px);
	z-index: -2;
	margin-left: -175px;
	width: 342.688px;
	height: 220px;
}

.car5__bg {
	width: 342.688px;
	height: 220px;
}

.bg-car5-white {
	width: 342.688px;
	height: 220px;
}

.bg-car5-gray {
	width: 342.688px;
	height: 109px;
	margin-top: -117px;
}

.car5__content {}

.car5__photo {
	width: 281.267px;
	height: 103.848px;
	margin-top: -180px;
	margin-left: 30px;
}

.car5__info {
	margin-top: -120px;
	margin-left: 18.81px;
}

.car5__brand {
	margin-bottom: 2.6px;
	color: #FFF;
	font-family: Signika;
	font-size: 15.712px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.car5__price {
	margin-bottom: 2.6px;
	color: #FFF;
	font-family: Signika;
	font-size: 13.094px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.car5__description {}

.description-car5 {
	max-width: 254.014px;
	color: #FFF;
	font-family: Signika;
	font-size: 9.165px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.description-car5__full-price {
	margin-bottom: 12px;
	color: #FFF;
	font-family: Signika;
	font-size: 7.856px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-decoration-line: underline;
}


.switches-popular {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.switches-popular__common {}

.switches-popular__selected {}


/* ***************************** HELP SECTION ***************************** */

.help {
	background-image: url(../img/help/bgsvg.svg);
	background-repeat: no-repeat;
	height: 1148.5px;
	margin-bottom: 200px;
}

.help__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.left-column-help {}

.left-column-help__logo {
	margin-top: 240px;
	margin-bottom: 58px;
}

.left-column-help__illustration {}

.left-column-help__illustration img {
	display: block;
}

.illustration-left-column-help {}

.illustration-left-column-help__car {
	position: relative;
	z-index: 1;
}

.illustration-left-column-help__ellipse {
	margin-top: -200px;
	position: relative;

}

.right-column-help {
	margin-top: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.right-column-help__title {
	color: #FFF;
	text-align: center;
	font-family: Roboto;
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 0.55px;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.right-column-help__desc {
	margin-bottom: 24px;
	text-align: center;
	color: #FFF;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 140%;
}


.form-help {
	margin: 0 auto;
	margin-bottom: 24px;
	width: 480px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 12px;
	row-gap: 12px;
}

.form-help__left-side {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.help-input {
	width: 234px;
	height: 52px;
	border-radius: 4px;
	border: 2px solid white;
	padding: 24px 16px;
	background-color: rgba(34, 173, 170, 1);
}

.form-help__text {}

.form-help__number {}

.form-help__type {}

.form-help__notes {
	width: 234px;
	height: 180px;
	border-radius: 4px;
	border: 2px solid white;
	padding: 24px 16px;
	background-color: rgba(34, 173, 170, 1);

}

.form-help__notes::placeholder {
	vertical-align: top;
}

.right-column-help__confirm {
	margin-bottom: 24px;
	max-width: 260px;
	color: #EBEBEB;
	text-align: center;
	font-family: Signika;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.right-column-help__button {
	width: 235px;
	height: 52px;
	padding: 16px 24px;
	cursor: pointer;
	color: var(--2, #1B1821);
	font-family: Signika;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 11px 13px 28px 0px rgba(0, 0, 0, 0.30);
}


/* ***************************** STAGES SECTION ***************************** */

.stages {
	margin-bottom: 200px;
}

.stages__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stages__title {
	text-transform: uppercase;
	color: #1B1821;
	font-family: Roboto;
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	margin-bottom: 65px
}

.template-stages {
	display: grid;
	grid-template-columns: 1fr 2px 1fr;
	column-gap: 130px;
}


.template-stages__left {
	margin-top: 28px;
}

.left-items {
	display: flex;
	flex-direction: column;
	row-gap: 165px;
}

.left-item {}

.item {
	width: 382px;
	/* border: 2px solid black; */
}

.item__images {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	/* margin: 32px 0; */
}

.images-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 32px;
}

.images-number {
	height: fit-content;
}

.content-item__title {
	color: var(--2, #1B1821);
	font-family: Signika;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.content-item__desc {
	margin-top: 8px;
	color: var(--2, #1B1821);
	font-family: Signika;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 140%;
	/* 22.4px */
}

.template-stages__vetical-line {
	margin: 0 auto;
}

.template-stages__right {}

.right-items {
	margin-top: 220px;
	display: flex;
	flex-direction: column;
	row-gap: 130px;
}

.right-item {
	display: flex;
	flex-direction: row;
	gap: 23px;
}

.right-item__number {
	height: fit-content;
	margin: 0 auto;
}

.right-item__content {}

.right-item__head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 32px;
}

.content-item__title {
	text-align: left;
}

.content-item__desc {}

/* ***************************** CALCULATOR SECTION ***************************** */

.calculator {
	background-image: url(../img/calculator/bg.svg);
	margin-bottom: 200px;
}

.calculator__container {
	margin-left: 0;
	padding: 0px;
	height: 1148.5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 100px;
}

.calculator-img {}

.calculator__title {
	text-transform: uppercase;
	color: #FFF;
	font-family: Roboto;
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 0.55px;
	margin-bottom: 48px;
}

.content-calculator {
	max-width: 463px;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.content-calculator__desc {
	color: #FFF;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 900;
	line-height: 140%;
}

.content-calculator__short-desc {
	max-width: 367px;
	color: #FFF;
	font-family: Signika;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 140%;
}

.content-calculator__button {
	width: 235px;
	height: 52px;
	padding: 16px 24px;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 11px 13px 28px 0px rgba(0, 0, 0, 0.30);
	cursor: pointer;
}

/* ***************************** RANGE SECTION ***************************** */

.range {}

.range__container {
	display: flex;
	gap: 52px;
	margin-bottom: 200px;
}

.range__left-side {
	max-width: 555px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.left-side__title {
	text-transform: uppercase;
	color: #1B1821;
	text-align: center;
	font-family: Roboto;
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 0.55px;
}

.left-side__desc {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.desc__p1 {
	color: #1B1821;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 140%;
}

.desc__p2 {
	color: #1B1821;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
}

.desc__p3 {
	color: #1B1821;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 150%;
	/* 30px */
}

.desc__p3-bolt {
	color: #1B1821;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
}

.range__right-side {
	display: flex;
	flex-direction: column;
}

.right-side__price {
	margin-top: 17px;
	align-self: flex-end;
	margin-bottom: 70px;
}

.right-side__look-more {
	margin-left: 108px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: #1B1821;
	font-family: Signika;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.right-side__look-more img {
	width: 151px;
	margin-left: -10px;

}

.right-side__car {
	margin-top: -40px;
	width: 791px;
	height: 377px;
}

/* ***************************** BUSINESS SECTION ***************************** */

.business {}

.business__container {
	display: flex;
	flex-direction: column;
	gap: 48px;
	margin-bottom: 200px;
}

.business__title {
	color: #1B1821;
	font-family: Roboto;
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 0.55px;
}

.business__content {
	display: flex;
	gap: 50px;
}

.business__logo {
	height: 332px;
}

.description-business {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.description-business-desc1 {
	width: 400px;
	color: #1B1821;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 140%;
}

.description-business-desc2 {
	width: 387px;
	color: #1B1821;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	/* 28px */
}

.description-business-desc3 {
	margin-left: -350px;
	width: 500px;
	color: #1B1821;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 140%;
}

.description-business-desc3 p {

	display: inline;
	color: #1B1821;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	/* 28px */
}

.business__button {
	cursor: pointer;
	margin-left: -350px;
	width: 235px;
	height: 52px;
	padding: 16px 24px;
	border-radius: 4px;
	background: var(--1, #22ADAA);
	box-shadow: 11px 13px 28px 0px rgba(0, 0, 0, 0.30);
	color: #FFF;
}

/* ***************************** FOOTER SECTION ***************************** */